.body-container {
    margin: 20px 25px;
}

.content-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.carousel-container {
    // height: 485px;
    /* Set the desired height */
    overflow: hidden;
    margin-bottom: 0%;
    /* Ensure no extra content is displayed */
}

.carousel-container img {
    height: 100%;
    /* Make the images fill the container height */
    width: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Ensure the image fills the container without distortion */
}

.carousel.carousel-slider .control-arrow {
    top: 148px !important;
    color: #fff;
    font-size: 26px;
    bottom: 38% !important;
    margin-top: 0;
    padding: 5px;
}

.carousel .slide .legend {
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 450px !important;
    left: 50%;
    margin-left: -45%;
    width: 48% !important;
    border-radius: 10px;
    background: none !important;
    // color: #fff;
    padding: 10px;
    font-size: 4.5rem !important;
    font-weight: bold !important;
    color: #000000 !important;
    text-align: start !important;
    // text-transform: uppercase !important;
    opacity: 1 !important;
    transition: opacity .35s ease-in-out;
    line-height: 1.2;
}

.legend-desc {
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 310px !important;
    left: 50%;
    margin-left: -45%;
    width: 40% !important;
    border-radius: 10px;
    background: none !important;
    padding: 10px;
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #464646 !important;
    text-align: start !important;
    // text-transform: uppercase !important;
    opacity: 1 !important;
    transition: opacity .35s ease-in-out;
    line-height: 1.2;
}

.shop-now-btn {
    background-color: #ffffff;
    color: #2d2d2d;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
    position: sticky;
    bottom: 32%;
    width: 14%;
    margin-left: 6%;
    font-weight: 500;
}

.carousel-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.desc-last-word {
    color: #EC2329;
}

.image-container {
    text-align: start
}

.offer-container {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.cont-1 {
    height: 45%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.blog-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


.promo-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    height: 67%;
    background-color: #7ad2ef;
    width: 63%;
    opacity: 85%;
    left: 37%;
    top: 20%;
    border-radius: 7px;
}

.promo-content h3 {
    font-size: 2.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.highlight {
    color: #f00;
    /* Highlight color for "GUIDE" */
    font-weight: bold;
}

.savings-content {
    position: relative;
    z-index: 2;
    text-align: start;
    height: 75%;
    margin: 4%;
}

.savings-content h5 {
    color: #fff;
}

.savings-highlight {
    color: yellow;
    /* Highlight color for "GUIDE" */
    font-weight: bold;

    font-size: 2.1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.savings-shop-now-btn {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}


/* Tablets (Max Width: 1200px) */
@media (max-width: 1200px) {

    .body-container {
        margin: 2px 2px;
    }

    .content-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .carousel-container {
        margin-bottom: 2%;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 99.666667%;
        // height: 100%;
    }


    .offer-container {
        display: flex;
        flex-direction: row;
        gap: 10%;
    }

    .col-4 {
        width: 99.333333%;
    }

    .cont-1 {
        height: 165px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
    }
}


@media (max-width: 600px) {
    .carousel-container {
        // height: 250px;
        margin-bottom: 4%;
    }

    .promo-content h3 {
        font-size: 1.5rem;
    }

    .savings-content h5 {
        font-size: 1.3rem;
    }

    .savings-shop-now-btn {
        padding: 3px 10px;
        font-size: 14px;
    }

    .savings-highlight {
        font-size: 1.3rem;
    }

    .shop-now-btn {
        background-color: #ffffff;
        color: #2d2d2d;
        border: none;
        padding: 10px 20px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 20px;
        position: sticky;
        bottom: 32%;
        width: 51%;
        margin-left: 6%;
        font-weight: 500;
    }
}


.categories-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.categories-container {
    margin-top: 35px;
    display: flex;
    gap: 55px;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

.categories-container::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari */
}

.category-card {
    display: flex;
    flex: 0 0 auto;
    width: 219px;
    height: 205px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.category-title {
    color: #000000;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

/* Scroll Buttons */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
    width: 55px;
}

.scroll-button:hover {
    background: black;
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}